.home {
  grid-column: 7/10;
  grid-row: 2/7;

  display: flex;
  justify-content: center;
  align-items: center;

  .info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .card {
      border: 1px solid #6f4e37;
      padding: 10px;
      background-color: #caaa94;
      text-align: center;
      width: 250px;
      height: 100px;
    }
  }
}
