.product {
  grid-column: 7/10;
  grid-row: 1/7;
}

h2 {
  color: #6f4e37;
}
form {
  label {
    font-size: 1.3rem;
    color: #6f4e37;
  }

  input,
  textarea {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid #6f4e37;
    border-radius: 4px;
    color: #6f4e37;
  }

  textarea {
    width: 70%;
  }
}
