.product {
  grid-column: 7/10;
  grid-row: 1/7;
}

form {
  label {
    font-size: 1.3rem;
  }
  input[type="text"],
  input[type="number"],
  input[type="file"],
  input[type="email"],
  select,
  textarea,
  input[type="password"] {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid #777;
    border-radius: 4px;
    width: 60%;
  }

  textarea {
    width: 70%;
  }
}
