.form {
  grid-column: 7/11;
  grid-row: 2/7;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    input[type="text"],
    input[type="email"],
    select,
    input[type="password"] {
      font-size: 1.5rem;
      padding: 1rem;
      margin: 1rem auto;
      border: 1px solid #777;
      border-radius: 4px;
      width: 60%;
    }

    button {
      width: 60%;
    }
  }
}
