.table {
  grid-column: 5/12;
  grid-row: 2/7;

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  span {
    color: #6f4e37;
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;

    thead {
      border-top: 2px solid #6f4e37;
      border-bottom: 2px solid #6f4e37;
    }

    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 8px;
      color: #6f4e37;
      &.icons {
        > * {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }
    img {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #caaa94;
    }
    tr {
      border-bottom: 1px solid #caaa94;
    }
  }
}
