.search {
  input[type="text"] {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    border: 1px solid #6f4e37;
    border-radius: 3px;
    outline: none;
  }
}
